<section class="vbox">
    <panel-group header="Was kann ich mit Nightlife alles anstellen?" footer="Noch fragen?">
        <panel header="Episoden von TV-Serien automatisch benennen."
            description="Mit Nightlife ist es möglich, die Episoden von TV-Serien aus dem Internet abzufragen und den Inhalt eines Medienordners entsprechend zu benennen. Falls du einen Serienordner hast, in welchem die Episodennamen z.B. nur aus Staffel- und Episodennummer bestehen, wähle diesen Ordner aus, suche nach dem Seriennamen und lass dir eine Vorschau mit gehübschten Dateinamen anzeigen!"
            caption="Ordner auswählen" on-click="chooseFolder()"></panel>
    </panel-group>
</section>
